doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title ppt解析模块
        style.
            body{
                user-select:none;
            }
            p{
                margin:0;
                font-family:Helvetica;
            }
        script(src="https://cdn.bootcss.com/svg.js/2.7.1/svg.min.js")
        link(href="/index.css" rel="stylesheet")

        != (links)

        script.
            var jsonObj = !{json}
    body(style="margin:0;width:100vw;height:100vh;position:relative;display:flex;align-items:center;justify-content:center;overflow:hidden;background:#f0f0f0")

        #app(style="background:black;position:relative;overflow:hidden")

        script(src="/index.js")