doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title ppt解析模块
        style.
            p{
                margin:0;
                font-family:Helvetica;
            }
        script.
            var jsonObj = !{json}
    body(style="margin:0;width:100vw;height:100vh;position:relative;display:flex;align-items:center;justify-content:center;overflow:hidden;background:#f0f0f0")

        #app(style="background:white;position:relative;overflow:hidden")

        script(src="/index.js")