node_modules
*.lock
.tmp
example/pptOutput*
example/*.pptx
example/*.xml
example/static/media
example/static/*.html
example/static/*.js



example/output.json

build

lib/*.o

lib/test

package-lock.json